<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/templates.css" %}" />
    <title>{% block title %}Default title{% endblock title %}</title>
</head>
<body>
    <header>
		<div class="header-top">
			<div class = "socials">
				<img src="{% static "images/icons.png" %}">
			</div>

			<div class="right-group">
				<div class = "blind">
					<p style="color:white;">Версия для слабовидящих</p>
					<img src="{% static "images/header-eye.svg" %}">
				</div>
				<div class="lang-switcher">
					<div class="dropdown">
						<span class="dropdown-toggle">RU</span>
						<ul class="dropdown-menu">
						<li><a href="#" lang="ru">RU</a></li>
						<li><a href="#" lang="en">EN</a></li>
						<li><a href="#" lang="de">DE</a></li>
						<li><a href="#" lang="de">FR</a></li>
						<li><a href="#" lang="de">CN</a></li>
						<li><a href="#" lang="ar">AR</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="high-menu">
			<div class="dropdown university-menu">
				<a href="https://cchgeu.ru/education/" class="dropdown-toggle university-menu">Университет</a>
				<ul class="dropdown-menu university-menu">
				<li><a href="https://cchgeu.ru/university/istoriya/  ">История</a></li>
				<li><a href="https://cchgeu.ru/university/structure/administration  ">Структура университета</a></li>
				<li><a href="https://cchgeu.ru/university/popechitelskiy-sovet/  ">Попечительский совет</a></li>
				<li><a href="https://cchgeu.ru/university/obshchestvennaya-zhizn  ">Общественная жизнь</a></li>
				<li><a href="https://cchgeu.ru/university/materialno-tekhnicheskoe-obespechenie/  ">Материально-техническое обеспечение</a></li>
				<li><a href="https://cchgeu.ru/university/mezhdunarodnaya-deyatelnost/  ">Международное сотрудничество</a></li>
				<li><a href="https://cchgeu.ru/university/protivodeystvie-korruptsii/  ">Противодействие коррупции</a></li>
				<li><a href="https://cchgeu.ru/university/protivodeystvie-terrorizmu/  ">Противодействие терроризму</a></li>
				<li><a href="https://cchgeu.ru/university/otsenka-kachestva-obrazovaniya/  ">Оценка качества образования ВГТУ</a></li>
				<li><a href="https://cchgeu.ru/university/ratings/  ">ВГТУ в рейтингах</a></li>
				<li><a href="https://cchgeu.ru/university/events/  ">Мероприятия</a></li>
				<li><a href="https://cchgeu.ru/university/konkursy-i-vybory/  ">Конкурсы и выборы</a></li>
				<li><a href="https://cchgeu.ru/university/docs/  ">Документы</a></li>
				<li><a href="https://cchgeu.ru/university/muzey-inzhenernogo-dela/  ">Музей инженерного дела</a></li>
				<li><a href="https://cchgeu.ru/biznesu/endaument-fond/  ">Фонд целевого капитала (Эндаумент-фонд) ВГТУ</a></li>
				<li><a href="https://cchgeu.ru/university/tk/  ">«Точка кипения ВГТУ»</a></li>
				<li><a href="https://cchgeu.ru/university/tseli-ustoychivogo-razvitiya/  ">ВГТУ и Цели устойчивого развития</a></li>
				<li><a href="https://cchgeu.ru/university/doroga-k-pobede/  ">Дорога к Победе</a></li>
				<li><a href="https://cchgeu.ru/university/bessmertnyy-polk/  ">Бессмертный полк ВГТУ</a></li>
				<li><a href="https://cchgeu.ru/university/firmennyy-stil/  ">Фирменный стиль</a></li>
				<li><a href="https://cchgeu.ru/university/nauka-i-universitety/  ">Национальный проект «Наука и университеты»</a></li>
				<li><a href="https://cchgeu.ru/university/strategiya-razvitiya-vgtu/  ">Стратегия развития ВГТУ</a></li>
				<li><a href="https://cchgeu.ru/university/vgtu-dlya-fronta/  ">ВГТУ для фронта</a></li>
				</ul>
			</div>

			<div class="dropdown education-menu">
				<a href="https://cchgeu.ru/education/" class="dropdown-toggle education-menu">Образование</a>
				<ul class="dropdown-menu education-menu">
				<li><a href="https://cchgeu.ru/education/inst/">Факультеты и кафедры</a></li>
				<li><a href="https://cchgeu.ru/education/programms/">Образовательные программы</a></li>
				<li><a href="https://bf.cchgeu.ru/">Филиал в г. Борисоглебске</a></li>
				<li><a href="https://cchgeu.ru/education/military/">Военное обучение</a></li>
				<li><a href="https://cchgeu.ru/education/sovet/">Учебно-методический совет</a></li>
				<li><a href="https://cchgeu.ru/education/inclusive/">Инклюзивное обучение</a></li>
				<li><a href="https://cchgeu.ru/education/sapr-i-bim/">Курсы САПР и BIM</a></li>
				<li><a href="https://cchgeu.ru/education/dsdadpstupeni/">Детская студия «Ступени»</a></li>
				<li><a href="https://cchgeu.ru/education/accred/">Руководителям образовательных программ</a></li>
				<li><a href="https://dpo.cchgeu.ru/">Дополнительное профессиональное образование</a></li>
				<li><a href="https://cchgeu.ru/university/structure/sovety/gumanitarnyy-sovet/">Гуманитарный совет</a></li>
				<li><a href="https://cchgeu.ru/education/iot/">Индивидуальные образовательные траектории</a></li>
				</ul>
			</div>

			<div class="dropdown science-menu">
				<a href="https://cchgeu.ru/science/" class="dropdown-toggle education-menu">Наука и инновации</a>
				<ul class="dropdown-menu science-menu">
				<li><a href="https://cchgeu.ru/university/struktura/unii/?window">Единое окно оформления научной документации</a></li>
				<li><a href="https://cchgeu.ru/university/struktura/unii/">Управление науки и инноваций</a></li>
				<li><a href="https://cchgeu.ru/science/podgotovka-kadrov-vysshey-kvalifikatsii/">Подготовка кадров высшей квалификации</a></li>
				<li><a href="https://cchgeu.ru/science/dissertatsionnye-sovety/">Диссертационные советы</a></li>
				<li><a href="https://cchgeu.ru/science/nauchnye-izdaniya/">Научные издания</a></li>
				<li><a href="https://cchgeu.ru/university/struktura/niipi/">Академия развития строительного комплекса</a></li>
				<li><a href="https://cchgeu.ru/science/info/">Конкурсы, гранты, конференции</a></li>
				<li><a href="https://cchgeu.ru/science/innovatsionnaya-deyatelnost/">Инновационная деятельность</a></li>
				<li><a href="https://cchgeu.ru/science/laboratorii-i-tsentry/">Лаборатории и центры</a></li>
				<li><a href="https://cchgeu.ru/university/library/">Научная библиотека</a></li>
				<li><a href="https://cchgeu.ru/university/struktura/tspa/">Центр публикационной активности</a></li>
				<li><a href="https://cchgeu.ru/science/katalog-nauchnogo-oborudovaniya/">Каталог научного оборудования</a></li>
				</ul>
			</div>

			<a class="dropdown-toggle" href="https://cchgeu.ru/partners/">Партнёры</a>

			<div class="dropdown contacts-menu">
				<a href="https://cchgeu.ru/contacts/"" class="dropdown-toggle contact-menu">Контакты</a>
				<ul class="dropdown-menu contact-menu">
				<li><a href="https://cchgeu.ru/contacts/index.php">Контакты</a></li>
				<li><a href="https://cchgeu.ru/contacts/phones/">Телефонный справочник</a></li>
				<li><a href="https://cchgeu.ru/contacts/bankovskie-rekvizity.php">Банковские реквизиты</a></li>
				<li><a href="https://cchgeu.ru/contacts/karta-korpusov/">Расположение корпусов</a></li>
				<li><a href="https://cchgeu.ru/contacts/grafik-prorektorov/">График работы ректората в учебных корпусах</a></li>
				<li><a href="https://cchgeu.ru/contacts/vopros-otvet/">Часто задаваемые вопросы</a></li>
				<li><a href="https://cchgeu.ru/press/polls/">Анкеты и опросы</a></li>
				<li><a href="https://cchgeu.ru/contacts/obrashchenie/">Прием обращений граждан</a></li>
				</ul>
			</div>
		</div>
		<div class="header-main">
			<div class="logo">
				<img src="{% static "images/vstu-logo.svg" %}" alt="Логотип ВГТУ">
				<p>ВОРОНЕЖСКИЙ ГОСУДАРСТВЕННЫЙ<br>ТЕХНИЧЕСКИЙ УНИВЕРСИТЕТ</p>
			</div>
			<div class="right-header">
				<a class="sveden-header-link" href="https://cchgeu.ru/sveden/">Сведения об образовательной организации</a>
				<div class="search">
				<form action="/search/">
					<input type="text" name="q" placeholder="Поиск по сайту">
					<button type="submit">
					<i class="fas fa-search"></i>
					</button>
				</form>
				</div>
			</div>
			</div>
			</div>

			<div class="high-menu">
  <!-- Абитуриенту -->
  <div class="dropdown">
    <a href="https://abiturient.cchgeu.ru/" class="dropdown-toggle">Абитуриенту</a>

  </div>

  <!-- Студенту -->
  <div class="dropdown">
    <a href="https://cchgeu.ru/studentu/" class="dropdown-toggle">Студенту</a>
    <div class="dropdown-menu-wrapper"></div>
	<ul class="dropdown-menu">
      <li><a href="https://cchgeu.ru/studentu/schedule/">Расписание занятий</a></li>
      <li><a href="https://cchgeu.ru/education/inst/">Факультеты и кафедры</a></li>
      <li><a href="https://cchgeu.ru/studentu/nayti-kontakty-prepodavatelya/">Найти контакты преподавателя</a></li>
      <li><a href="https://cchgeu.ru/studentu/spravka/">Заказ справки об обучении</a></li>
      <li><a href="https://cchgeu.ru/studentu/obshchestvennaya-zhizn/">Общественная жизнь</a></li>
      <li><a href="https://cchgeu.ru/university/library/">Научная библиотека</a></li>
      <li><a href="https://old.education.cchgeu.ru/">Образовательный портал ВГТУ</a></li>
      <li><a href="https://cchgeu.ru/studentu/trudoustroystvo/">Трудоустройство</a></li>
      <li><a href="https://cchgeu.ru/studentu/praktika/">Практика</a></li>
      <li><a href="https://cchgeu.ru/science/podgotovka-kadrov-vysshey-kvalifikatsii/">Подготовка кадров высшей квалификации</a></li>
      <li><a href="https://cchgeu.ru/science/info/">Конкурсы, гранты, конференции</a></li>
      <li><a href="https://cchgeu.ru/studentu/stud-proekti/">Каталог студенческих проектов</a></li>
      <li><a href="https://cchgeu.ru/studentu/stipendii/">Стипендии и иные виды материальной поддержки</a></li>
      <li><a href="https://cchgeu.ru/studentu/potanin/">Стипендиальная программа Владимира Потанина</a></li>
      <li><a href="https://cchgeu.ru/studentu/oplata-stoimosti-mat-kapital/">Оплата обучения за счёт маткапитала</a></li>
      <li><a href="https://cchgeu.ru/studentu/profilaktika-zabolevaniy/">Профилактика заболеваний</a></li>
      <li><a href="https://cchgeu.ru/university/tk/">«Точка кипения ВГТУ»</a></li>
      <li><a href="https://cchgeu.ru/press/polls/">Анкеты и опросы</a></li>
      <li><a href="https://cchgeu.ru/studentu/sektsii/">Спортивные секции ВГТУ</a></li>
      <li><a href="https://cchgeu.ru/studentu/onlayn-raspisanie/">Онлайн-расписание</a></li>
    </ul>
  </div>

  <!-- Выпускнику -->
  <div class="dropdown">
    <a href="https://cchgeu.ru/vypuskniku/" class="dropdown-toggle">Выпускнику</a>
    <ul class="dropdown-menu">
      <li><a href="https://cchgeu.ru/studentu/employ/">Трудоустройство и практика</a></li>
      <li><a href="https://cchgeu.ru/vypuskniku/vypusknik-goda-2022/">Выпускник года 2022</a></li>
      <li><a href="https://cchgeu.ru/vypuskniku/vypusknikgoda2021/">Выпускник года 2021</a></li>
      <li><a href="https://cchgeu.ru/vypuskniku/prepodavatel-goda-2020/">Преподаватель года 2020</a></li>
      <li><a href="https://cchgeu.ru/vypuskniku/vypusknikgoda2020/">Выпускник года 2020</a></li>
    </ul>
  </div>

  <!-- Бизнесу -->
  <div class="dropdown">
    <a href="https://cchgeu.ru/biznesu/" class="dropdown-toggle">Бизнесу</a>
    <ul class="dropdown-menu">
      <li><a href="https://cchgeu.ru/university/popechitelskiy-sovet/">Попечительский совет ВГТУ</a></li>
      <li><a href="https://cchgeu.ru/biznesu/endaument-fond/">Фонд целевого капитала (Эндаумент-фонд) ВГТУ</a></li>
      <li><a href="https://ezc.cchgeu.ru/">Экологическое строительство и устойчивое развитие</a></li>
    </ul>
  </div>

  <!-- Пресс-центр -->
  <div class="dropdown">
    <a href="https://cchgeu.ru/press/" class="dropdown-toggle">Пресс-центр</a>
    <ul class="dropdown-menu">
      <li><a href="https://cchgeu.ru/press/news/official/">Новости</a></li>
      <li><a href="https://cchgeu.ru/press/news/ad/">Объявления</a></li>
      <li><a href="https://cchgeu.ru/press/news/digest/">СМИ о нас</a></li>
      <li><a href="https://cchgeu.ru/press/news/interview/">Выступления, доклады, интервью</a></li>
      <li><a href="https://cchgeu.ru/press/events/">Календарь мероприятий</a></li>
      <li><a href="https://cchgeu.ru/press/papers/">Корпоративные издания</a></li>
      <li><a href="https://cchgeu.ru/press/photo/">Фото</a></li>
      <li><a href="https://cchgeu.ru/press/video/">Видео</a></li>
      <li><a href="https://cchgeu.ru/press/polls/">Анкеты и опросы</a></li>
      <li><a href="https://cchgeu.ru/press/kontakty-dlya-smi/">Контакты для СМИ</a></li>
    </ul>
  </div>
</div>

			</div>
		</div>
	</header>

	<div class="main-content">
		<div class="sidebar-menu">
		<ul>
			<li class="active"><a href="#">Образовательные программы</a></li>
			<li><a href="#">Образовательные стандарты</a></li>
			<li><a href="#">Федеральные государственные требования</a></li>
			<li><a href="#">Учебные планы</a></li>
			<li><a href="#">Календарные учебные графики</a></li>
			<li><a href="#">Методическое обеспечение</a></li>
			<li><a href="#">Лицензирование образовательных программ</a></li>
		</ul>
	</div>
		<div class="programs-container">
	<div style="display: flex; align-items: center; margin-bottom: 20px;">
    <h1>ОБРАЗОВАТЕЛЬНЫЕ ПРОГРАММЫ</h1>
    <div class="search-container">
    <div class="search-box">
        <input
            type="text"
            placeholder="Поиск по программе"
            id="searchPrograms"
            oninput="filterPrograms()"
        />
        <button onclick="filterPrograms()">
            <img src="{% static "images/search.svg" %}" alt="Поиск">
        </button>
    </div>
</div>

</div>
	<!-- Блок "Уровень образования" -->
	<div class="filter-row">
		<span class="filter-label">Уровень образования</span>
		<div class="checkbox-group" id="group1">
			<label class="checkbox-item">
				<input type="checkbox" value="Бакалавриат" onchange="handleLevelFilterChange()">
				Бакалавриат
			</label>
			<label class="checkbox-item">
				<input type="checkbox" value="Специалитет" onchange="handleLevelFilterChange()">
				Специалитет
			</label>
			<label class="checkbox-item">
				<input type="checkbox" value="СПО" onchange="handleLevelFilterChange()">
				СПО
			</label>
			<label class="checkbox-item">
				<input type="checkbox" value="Аспирантура" onchange="handleLevelFilterChange()">
				Аспирантура
			</label>
			<label class="checkbox-item">
				<input type="checkbox" value="Магистратура" onchange="handleLevelFilterChange()">
				Магистратура
			</label>
		</div>
		<div class="settings-icon" onclick="toggleGroup('group1')">
			<img src="{% static 'images/faculty_filter.svg' %}">
		</div>
	</div>

	<form id="facultyForm" method="POST" style="display: none;">
    	{% csrf_token %}
    	<input type="hidden" name="selected_faculty" id="selectedFacultyInput">
	</form>

	<!-- Блок выбора факультета и таблицы -->
	<div class="faculty-select-container">
		<label for="faculty-select">Выберите факультет</label>
		<div class="custom-select">
			<select id="faculty-select" onchange="handleFacultyChange()">
				<option value="" disabled selected>Выберите факультет</option>
				{% for f in faculties %}
				<option value="{{ f }}">{{ f }}</option>
				{% endfor %}
			</select>
		</div>

		<!-- В index.html -->

    <table class="specialty-table">
		<thead>
			<tr class="sort">
				<th width="15%" data-sort="code" data-sort-type="text">
					Код <span class="sort-arrow">↕</span>
				</th>
				<th width="55%" data-sort="name" data-sort-type="text">
					Название программы <span class="sort-arrow">↕</span>
				</th>
				<th width="30%" data-sort="level" data-sort-type="text">
					Уровень образования <span class="sort-arrow">↕</span>
				</th>
        	</tr>
		</thead>
		<tbody id="programsTableBody">
			{% if programs %}
				{% for program in programs %}
				<tr>
					<td>{{ program.code|default:"-" }}</td>
					<td>{{ program.program|default:"-" }}</td>
					<td>{{ program.level|default:"-" }}</td>
				</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td colspan="3" style="text-align: center; padding: 20px;">
						{% if selected_faculty %}
							Для факультета "{{ selected_faculty }}" программы не найдены
						{% else %}
							Выберите факультет для отображения программ
						{% endif %}
					</td>
				</tr>
			{% endif %}
		</tbody>
	</table>

	<script>
		// Глобальные переменные
		let currentPrograms = [];
		let currentFaculty = '';
		let currentSort = {
			column: null,
			direction: 'asc'
		};

		// Функция переключения видимости группы чекбоксов
		function toggleGroup(groupId) {
			const group = document.getElementById(groupId);
			group.classList.toggle('visible');
		}

		// Получение выбранных уровней образования
		function getSelectedLevels() {
			const checkboxes = document.querySelectorAll('#group1 input[type="checkbox"]:checked');
			const selectedLevels = [];
			checkboxes.forEach(checkbox => {
				selectedLevels.push(checkbox.value);
			});
			return selectedLevels;
		}

		// Обработчик изменения фильтра по уровням
		function handleLevelFilterChange() {
			if (currentFaculty) {
				loadFacultyPrograms(currentFaculty);
			}
		}

		// Обработчик выбора факультета
		function handleFacultyChange() {
			const select = document.getElementById('faculty-select');
			currentFaculty = select.value;

			if (!currentFaculty) {
				resetTable();
				return;
			}

			loadFacultyPrograms(currentFaculty);
		}

		// Сброс таблицы
		function resetTable() {
			const tableBody = document.getElementById('programsTableBody');
			tableBody.innerHTML = `
				<tr>
					<td colspan="3" style="text-align: center; padding: 20px;">
						Выберите факультет для отображения программ
					</td>
				</tr>
			`;
		}

		// Основная функция загрузки программ
		function loadFacultyPrograms(faculty) {
			const tableBody = document.getElementById('programsTableBody');
			tableBody.innerHTML = `
				<tr>
					<td colspan="3" style="text-align: center; padding: 20px;">
						<div class="loading-spinner"></div>
						Загрузка программ для "${faculty}"...
					</td>
				</tr>
			`;

			// Получаем выбранные уровни
			const selectedLevels = getSelectedLevels();

			// Формируем URL с параметрами
			let url = `{% url 'get_faculty_programs' %}?faculty=${encodeURIComponent(faculty)}`;

			// Добавляем параметры уровней
			selectedLevels.forEach(level => {
				url += `&levels=${encodeURIComponent(level)}`;
			});

			console.log('Fetch URL:', url);

			// Отправляем запрос
			fetch(url)
				.then(response => {
					if (!response.ok) {
						throw new Error(`HTTP error! status: ${response.status}`);
					}
					return response.json();
				})
				.then(data => {
					console.log('Получены данные:', data);
					if (data.success) {
						currentPrograms = data.programs;
						updateProgramsTable(data.programs, faculty, data.count);
					} else {
						showError('Ошибка при загрузке программ: ' + (data.error || 'Неизвестная ошибка'));
					}
				})
				.catch(error => {
					console.error('Error:', error);
					showError('Ошибка соединения с сервером. Проверьте консоль разработчика.');
				});
		}

		// Функция обновления таблицы
		function updateProgramsTable(programs, facultyName, count) {
			const tableBody = document.getElementById('programsTableBody');

			if (!programs || programs.length === 0) {
				tableBody.innerHTML = `
					<tr>
						<td colspan="3" style="text-align: center; padding: 40px; color: #666;">
							<div style="font-size: 18px; margin-bottom: 10px;">🤷‍♂️</div>
							<div>Для факультета <strong>"${facultyName}"</strong> программы не найдены</div>
							<div style="font-size: 12px; margin-top: 10px;">Попробуйте выбрать другой факультет или изменить фильтры</div>
						</td>
					</tr>
				`;
				return;
			}

			// Очищаем таблицу
			tableBody.innerHTML = '';

			// Добавляем строку с количеством
			const countRow = document.createElement('tr');
			countRow.innerHTML = `
				<td colspan="3" style="background-color: #f5f5f5; font-weight: bold; text-align: center;">
					Найдено программ: ${count}
				</td>
			`;
			tableBody.appendChild(countRow);

			// Добавляем строки с программами
			programs.forEach(program => {
				const row = document.createElement('tr');
				let extractedCode = '-';
				let cleanName = program.name || '-';

				if (program.name) {
					// Ищем код и удаляем его из названия
					const match = program.name.match(/^(\d{2}\.\d{2}\.\d{2})\s*(.*)/);
					if (match) {
						extractedCode = match[1];
						cleanName = match[2].trim();
					}
				}

				row.innerHTML = `
					<td data-sort-value="${program.code}">${program.code}</td>
					<td data-sort-value="${cleanName}">${cleanName}</td>
					<td data-sort-value="${program.level || ''}">${program.level || '-'}</td>
				`;
				tableBody.appendChild(row);
			});

			// Применяем текущую сортировку
			if (currentSort.column) {
				sortTable(currentSort.column, currentSort.direction);
			}
		}

		// Функция для отображения ошибки
		function showError(message) {
			const tableBody = document.getElementById('programsTableBody');
			tableBody.innerHTML = `
				<tr>
					<td colspan="3" style="text-align: center; padding: 20px; color: red;">
						<div style="font-size: 18px; margin-bottom: 10px;">⚠️</div>
						${message}
					</td>
				</tr>
			`;
		}

		// Функция сортировки таблицы
		function sortTable(column, direction) {
			const tableBody = document.getElementById('programsTableBody');
			// Получаем все строки кроме первой (строка с количеством)
			const rows = Array.from(tableBody.querySelectorAll('tr')).slice(1);

			if (rows.length === 0) return;

			// Сортируем строки
			rows.sort((a, b) => {
				const aValue = a.querySelector(`td:nth-child(${getColumnIndex(column)})`).getAttribute('data-sort-value') || '';
				const bValue = b.querySelector(`td:nth-child(${getColumnIndex(column)})`).getAttribute('data-sort-value') || '';

				const sortType = getSortType(column);

				if (sortType === 'code') {
					return compareCodes(aValue, bValue, direction);
				} else {
					return compareValues(aValue, bValue, direction, sortType);
				}
			});

			// Сохраняем первую строку (с количеством)
			const firstRow = tableBody.querySelector('tr:first-child');
			tableBody.innerHTML = '';
			if (firstRow) {
				tableBody.appendChild(firstRow);
			}

			// Добавляем отсортированные строки
			rows.forEach(row => tableBody.appendChild(row));

			// Обновляем индикаторы сортировки
			updateSortIndicators(column, direction);

			// Сохраняем текущую сортировку
			currentSort = { column, direction };
		}

		// Функция сравнения значений
		function compareValues(a, b, direction, type = 'text') {
			let valA = a.trim().toLowerCase();
			let valB = b.trim().toLowerCase();

			// Для числовых значений
			if (type === 'number') {
				valA = parseFloat(valA) || 0;
				valB = parseFloat(valB) || 0;
			}

			// Для дат
			if (type === 'date') {
				valA = new Date(valA).getTime();
				valB = new Date(valB).getTime();
			}

			// Сравниваем
			if (valA < valB) return direction === 'asc' ? -1 : 1;
			if (valA > valB) return direction === 'asc' ? 1 : -1;
			return 0;
		}

		// Функция сравнения кодов (09.02.01)
		function compareCodes(a, b, direction) {
			// Приводим к общему виду для сравнения
			const codeA = a === '-' ? '00.00.00' : a;
			const codeB = b === '-' ? '00.00.00' : b;

			// Разбиваем код на части
			const partsA = codeA.split('.').map(Number);
			const partsB = codeB.split('.').map(Number);

			// Сравниваем каждую часть
			for (let i = 0; i < 3; i++) {
				if (partsA[i] !== partsB[i]) {
					return direction === 'asc'
						? partsA[i] - partsB[i]
						: partsB[i] - partsA[i];
				}
			}

			return 0;
		}

		// Получаем индекс столбца по его названию
		function getColumnIndex(columnName) {
			const headers = {
				'code': 1,
				'name': 2,
				'level': 3
			};
			return headers[columnName] || 1;
		}

		// Определяем тип сортировки для столбца
		function getSortType(columnName) {
			const types = {
				'code': 'code',
				'name': 'text',
				'level': 'text'
			};
			return types[columnName] || 'text';
		}

		// Обновляем индикаторы сортировки
		function updateSortIndicators(column, direction) {
			// Сбрасываем все индикаторы
			document.querySelectorAll('th[data-sort]').forEach(th => {
				th.classList.remove('sorted', 'sorted-asc', 'sorted-desc');
			});

			// Устанавливаем индикатор для текущего столбца
			const currentTh = document.querySelector(`th[data-sort="${column}"]`);
			if (currentTh) {
				currentTh.classList.add('sorted', `sorted-${direction}`);
			}
		}

		// Обработчик клика на заголовок
		function handleHeaderClick(event) {
			const th = event.target.closest('th[data-sort]');
			if (!th) return;

			const column = th.getAttribute('data-sort');

			// Определяем направление сортировки
			let direction = 'asc';
			if (currentSort.column === column) {
				direction = currentSort.direction === 'asc' ? 'desc' : 'asc';
			}

			// Сортируем таблицу
			sortTable(column, direction);
		}

		// Функция поиска по программам (для поля поиска)
		function filterPrograms() {
			const searchInput = document.getElementById('searchPrograms');
			const searchTerm = searchInput.value.toLowerCase().trim();

			if (!currentFaculty || !currentPrograms.length) {
				return;
			}

			// Если поисковый запрос пустой, показываем все программы
			if (searchTerm === '') {
				updateProgramsTable(currentPrograms, currentFaculty, currentPrograms.length);
				return;
			}

			// Фильтруем программы по поисковому запросу
			const filtered = currentPrograms.filter(program => {
				const name = program.name || '';
				const code = program.code || '';
				const level = program.level || '';

				return name.toLowerCase().includes(searchTerm) ||
					   code.toLowerCase().includes(searchTerm) ||
					   level.toLowerCase().includes(searchTerm);
			});

			// Обновляем таблицу с отфильтрованными данными
			updateProgramsTable(filtered, currentFaculty, filtered.length);
		}

		// Инициализация
		document.addEventListener('DOMContentLoaded', function() {
			// Добавляем обработчики клика на заголовки
			document.querySelectorAll('th[data-sort]').forEach(th => {
				th.addEventListener('click', handleHeaderClick);
			});

			// Инициализируем сортировку по умолчанию
			currentSort = { column: 'code', direction: 'asc' };

			// Добавляем обработчик для поиска по Enter
			const searchInput = document.getElementById('searchPrograms');
			if (searchInput) {
				searchInput.addEventListener('keyup', function(event) {
					if (event.key === 'Enter') {
						filterPrograms();
					}
				});
			}

			// Показываем начальное состояние таблицы
			resetTable();
		});
	</script>
</div>

	</div>
    {% block main %}{% endblock main %}
    <div>{% block footer%}{% endblock footer %}
</body>
</html>